.m-1{
  margin: 0.5rem;
}
.postBox{
  width: 100%;
  height: auto;
  background-color: #89b4f5;
  
}

.sapphire{
  background-color: #5a97f2;
}
.littleContainer{
  margin: auto;
  width: 50%;
  text-align: center;
}
